
@{
    ViewBag.Title = "SymbolChart";
    Layout = "~/Views/Home/Index.cshtml";
}

<h2>SymbolChart</h2>

@model string

<h2>Grafik: @Model</h2>

<!-- TradingView widget'ı -->
<div id="tradingview-widget-container">
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": 980,
                "height": 610,
                "symbol": "BINANCE:" + "@ViewBag.Symbol", // ViewBag'dan sembol bilgisini alarak TradingView widget'ına gönderin
                "interval": "1",
                "timezone": "Etc/UTC",
                "theme": "dark",
                "style": "1",
                "locale": "tr",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "hideideas": true
            }
        );
    </script>
</div> -view oluştur yeni